.contact {
  background-color: #04060D;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%; }
  .contact .contactFormContainer {
    width: 50vw;
    margin: 0 auto; }
    @media screen and (max-width: 500px) {
      .contact .contactFormContainer {
        width: 75vw; } }
    .contact .contactFormContainer .contactForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contact .contactFormContainer .contactForm h1 {
        color: #45A29E;
        margin-bottom: 2%;
        font-size: 4rem; }
        @media screen and (max-width: 500px) {
          .contact .contactFormContainer .contactForm h1 {
            font-size: 2.5rem; } }
      .contact .contactFormContainer .contactForm p {
        color: #45A29E;
        font-size: 1.4em;
        padding: 0;
        margin: 2% 0; }
      .contact .contactFormContainer .contactForm input, .contact .contactFormContainer .contactForm textarea {
        color: white; }
