@import './variables.scss';
@import './mixins.scss';

.header {
    background-color: $oddBgColor;
    height: 100vh;
    @include flexColumnCenter(center);
    h1 {
        font-size: 6rem;
        color: $mainColor;
        @media screen and (max-width: 500px) {
            font-size: 3rem;
        }
    }
    h2 {
        color: white;
    }
    #about {
        width: 80%;
        color: white;
        line-height: 1.6;
        font-size: 1.4rem;
        @media screen and (max-width: 500px) {
            font-size: 1rem;
        }
    }
    .socials {
        @include flexRowCenter(space-evenly);
        width: 33vw;
        height: 5vh;
        color: $secondaryColor;
        .fas, .fab {
            color: $iconGray;
            transition: all .3s ease-in-out;
            &:hover {
                transform: scale(1.1);
                color: $secondaryColor;
            }
        }
        .fab {
            cursor: pointer;
        }
        .email {
            @include flexRowCenter(center)
            p {
                margin-left: 5px;
            }
        }
    }
}